.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  position: relative;
  height: 200px;
  font-weight: bold;
  color: #000000;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.dark-mode  .circular-text {
  color: #ffffff;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
  font-size: 20px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
