.tilted-card-figure {
  position: relative;
  width: 80%;
  height: 80%;
  perspective: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tilted-card-mobile-alert {
  position: absolute;
  top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  display: none;
}

@media (max-width: 640px) {
  .tilted-card-mobile-alert {
    display: block;
  }
  .tilted-card-caption {
    display: none;
  }

  .tilted-card-inner {
    width: 95% !important;
    height: 95% !important;
  }
  .tilted-card-img {
    height: 100% !important;
    width: 100% !important;
  }
  .tilted-card-figure {
    pointer-events: none;
  }
}

.tilted-card-inner {
  position: relative;
  transform-style: preserve-3d;
  width: 98% !important;
  height: 98% !important;
}

.tilted-card-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 15px;
  will-change: transform;
  transform: translateZ(0);
  height: 100% !important;
width: 100% !important;
}

.tilted-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  will-change: transform;
  transform: translateZ(30px);
}

.tilted-card-caption {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 10px;
  font-size: 10px;
  color: #2d2d2d;
  opacity: 0;
  z-index: 3;
}
