#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:'minork';
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.banner {
  padding: 20px;
}

.form {
  margin-bottom: 20px;
}

.form input {
  width: 70%; /* Rende gli input larghi */
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #186599b4; /* Bordo blu */
  border-radius: 20px; /* Angoli stondati */
  font-size: 18px;
  outline: none; /* Rimuove il bordo blu quando clicchi */
  transition: 0.3s;
  font-family: 'minork';
  border: none;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.dark-mode .form input {
  width: 70%; /* Rende gli input larghi */
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #186599b4; /* Bordo blu */
  border-radius: 20px; /* Angoli stondati */
  font-size: 18px;
  outline: none; /* Rimuove il bordo blu quando clicchi */
  transition: 0.3s;
  font-family: 'minork';
  border: none;
  align-items: center;
  background-color: #333;
}

.inputImmagine {
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.buttonForm {
  justify-content: center;
  flex-direction:row;
  align-items: center;
  gap: 20px; /* Distanza tra gli elementi */
  display:flex;
}

.buttonForm input[type="file"] {
  padding: 8px;
  border: none;
  cursor: pointer;
}

.buttonForm button {
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: 2s;
  font-family: 'minork';
  border-radius: 20px;
  border: 3px solid rgba(37, 98, 126, 1);
  background-color: rgba(37, 98, 126, 1);
  color: white;
  width: 100px;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttonForm button:hover {
  background-color: transparent;
  transform: scale(1.05);
  font-weight: bold;
  color: rgba(37, 98, 126, 1);
}

.preview-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  max-height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.watch-image {
  width: 100%;
  max-width: 294px;
  height: auto;
  max-height: 294px; /* Limita l'altezza massima a 294px */
  border-radius: 10px;
  object-fit: cover;
}

.watch-imageCarosel {
  width: 100%;
  max-width: 400px;
  height: 390px;
  max-height: 400px; /* Limita l'altezza massima a 300px */
  border-radius: 10px;
  object-fit: cover;
}

.delete-button {
  color: rgb(255, 0, 0);
  border: none;
  padding: 7px 10px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.delete-button button:hover {
  font-size: 18px;
  border: none;
  border-radius: 10px; /* Bottoni stondati */
  cursor: pointer;
  transition: 0.3s;
  color: white;
  transform: scale(1.3);
}

.delete-button button {
  font-family: 'minork';
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 20px; /* Bottoni stondati */
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(105, 25, 25);
  color: white;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  display: none;
  background-color: rgba(255, 255, 255, 1);
}

.menuTendina {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3); /* Colore di sfondo semitrasparente */
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1); /* Correzione del box-shadow con la sintassi corretta */
  backdrop-filter: blur(5px); /* Sfocatura del background dietro il menù */
  font-family: 'Minork', sans-serif; /* Assicurati che il font sia correttamente caricato */
  border-radius: 5px; /* Aggiungi bordi arrotondati */
  transition: all 0.3s ease; /* Aggiungi transizione per effetti smooth */
  font-size: 18px;
}

/* Effetto hover per il menù */
.menuTendina:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Colore di sfondo più opaco al passaggio del mouse */
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2); /* Ombra più pronunciata al passaggio del mouse */
}

/* Orologio funzionante*/

.clockContainer {
  display: flex;
  align-items: center;
  height: 30vh;
  justify-content: center;
  overflow: hidden;
}

.clock {
  border-radius: 100%;
  /* background: rgba(126, 120, 120, 0.8); */
  font-family: "Montserrat";
  border: 3px solid rgba(0, 0, 0, 0.65);
  box-shadow: inset 0px 0px 50px 0 rgba(0, 0, 0, 0.7);
  width: 180px;
  height: 180px;
  backdrop-filter: blur(50px);
  backdrop-filter: brightness(0);
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 100%;
}

.minute,
.hour {
  position: absolute;
  height: 51px;
  width: 4.07px;
  margin: auto;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0);
  transform-origin: bottom center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 40%;
  z-index: 1;
}

.minute {
  position: absolute;
  height: 66.32px;
  width: 3.14px;
  top: -38%;
  left: 0;



  box-shadow: 0 0 10 0 rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
}

.dark-mode .minute,
.dark-mode .hour{
  background: white;
}


.second {
  position: absolute;
  height: 72px;
  width: 2.43px;
  margin: auto;
  top: -40%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: rgba(0, 123, 255, 0.8);
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;
}

.dark-mode .second {
  background: #ffcc00;
}

.point {
  position: absolute;
  height: 6.20px;
  width: 6.20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100px;
  background: rgb(0, 0, 0);
  border: 2px solid rgba(0, 123, 255, 0.8);
  border-radius: 100px;
  margin: auto;
  z-index: 1;
}

.dark-mode .point {
  background: #ffffff;
  border: 2px solid #ffcc00;
}

.numbers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter:invert(1);
  /* backdrop-filter: blur(20px); */
}

.number {
  position: absolute;
  font-size: 30px;
  /* font-size: 24px; */
  font-weight:bold;
  /* font-family: 'minork'; */
  font-family: 'ancient';
  color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  text-align: center;
  margin: auto;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content:center;
}

.dark-mode .number {
  color: rgb(255, 255, 255);
}

.dark-mode  .numbers {
  backdrop-filter: none;
}


.dot {
  position: absolute;
  width: 3.5px; /* Dimensione del puntino */
  height: 3.5px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  text-align: center;
  background-color: rgb(0, 0, 0); /* Colore dei puntini */
  border: white;
  margin: auto;
  z-index: 1;
  border-radius: 100%;
}

.dark-mode .dot {
  background-color: rgb(255, 255, 255);
}



.selectMenu {
  display: "flex";
  align-items: "center";
  align-items: center;
  gap: "10px";
  width: "100%";
  justify-content: "center";
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hidden-input {
  display: none; /* Nasconde l'input file */
}

.upload-button {
  background-color: rgba(255, 255, 255, .60);
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 20px;
  margin-top: 25px;
}

.upload-button:hover {
  background-color: #bebebe;
}
.dark-mode .upload-button:hover {
  background-color: #222;
}

.file-name {
  font-size: 14px;
  color: #333;
}

.preview-imageMod {
  margin-top: 10px;
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative
}

.color-input-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hidden-color-input {
  position:relative;
  display:flex; /* Nasconde l'input */
  z-index: -1;
  color: #00000000;
  background-color: #00000000;
  width: 2px;
  opacity: 0;
}

.color-picker-button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  color: #000000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, .60);
}

.dark-mode .color-picker-button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #333;
}

.selected-color {
  font-size: 14px;
  color: #333;
}

.modify-btn {
  background-color: rgba(37, 98, 126, 0.8);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 20px;
  height: 44px;
  font-family: 'minork';
}


.dark-mode .modify-btn {
  background-color: #ffcc00;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 20px;
  height: 44px;
}

.modify-btn:hover {
  transform: scale(1.3);
  border-radius: 10px;
}

/* Modale */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgba(255, 255, 255, .80);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.functionButton {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.functionButton button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: rgba(225, 225, 225, 0.8);
  border: 3px solid rgba(37, 98, 126, 1);
  color: rgba(37, 98, 126, 1);
  /* backdrop-filter: blur(5px); */
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'minork';
  transition: 0.8s;
  text-box: auto;
}

@media (max-width: 650px) {
  .functionButton button:hover{
    transition: none !important;
    transform:none !important;
  }
  .funzioniButton:hover .buttonBackground {
    transition: none !important;
    transform:none !important;
    display: none !important;
  }
}

.dark-mode .functionButton button {
  background-color: rgba(0, 0, 0, 0.6);
  border:3px solid #ffcc00;
  color: #ffcc00;
}

.functionButton button:hover {
  color: rgba(37, 98, 126, 1);
  transform: scale(1.4);
  transform: translateX(30px);
}

.dark-mode .functionButton button:hover {
  color: #ffcc00;
    transform: scale(1.4);
  transform: translateX(30px);
}

.funzioniButton {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  /* padding: 10px 20px; */
  position: relative;
  z-index: 2; /* Assicura che il bottone stia sopra l'orologio */
}

.watch-card .funzioniButton {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'minork';
  transition: 0.8s;
  height: 44px;
  margin-bottom: 10px;
}

.modal-content .functionButton button:hover {
  transform: scale(1.1);
}

.functionButton h4 {
  font-size: 28.5px;
  color: #000;
  height: 78px;
}

@media (max-width: 600px) {
  .functionButton h4 {
    /* Utilizza unità relative alla larghezza della viewport (vw) per l'adattamento */
    font-size: 5vw; /* Il valore esatto dipende dal tuo design. 5vw è un buon punto di partenza. */
    
  }
}

.dark-mode .functionButton h4 {
  color: #ffffff;
}

/* Effetto Hover */
.funzioniButton:hover .buttonBackground {
  /* left: 10%; */ /* Fa apparire l'orologio dietro il bottone */
  opacity: 1;
  transform: rotate(360deg);
  transform: rotate(0.5turn);
}

.buttonBackground {
  position: absolute;
  top: 0px; /* Nasconde l'orologio sotto il bottone */
  left: 25%;
  transform: translateX(-50%);
  width: 40px; /* Regola la dimensione dell'orologio */
  height: 40px;
  /* background-image: url('/orologio_back.svg'); */
  background-image: url('/clessidra.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0; /* Inizialmente invisibile */
  transition: 1.8s, opacity 1.3s ease-in-out;
  margin-top: 8%;
  /* rotate: 30deg; */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 20px;
}

.infoView {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom:1%; /* Mantiene l'elemento sempre in basso */
  top: 9%;
  width: 100%;
  z-index: 1001;
}

.infoView .modal-content {
  padding: 20px;
  border-radius: 20px;
  width: auto;
  max-width: 500px;
  text-align: center;
  background-color: rgba(255, 255, 255, .80);
  backdrop-filter: blur(5px);
  height: fit-content;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.modal-content {
  width: 80%;
  max-width: 500px;
  text-align: center;
  backdrop-filter: blur(5px);
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8);
  border-image: initial;
  border-radius: 20px;
  height: fit-content;
}

.modal-content h2 {
  padding: 10px;
}

.dark-mode .infoView .modal-content {
  background-color: rgba(95, 83, 97, 0.80);
  height: fit-content;
  backdrop-filter: blur(10px);
}


.modal-image {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  height: auto;
  max-height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 750px) {
  .modal-image {
    max-width: 250px;
    max-height: 220px;
  }

  .TileInfo h3 {
    font-size: 28px;
  }
}

.formModify input {
  width: 55%; /* Rende gli input larghi */
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #186599b4; /* Bordo blu */
  border-radius: 10px; /* Angoli stondati */
  font-size: 18px;
  outline: none; /* Rimuove il bordo blu quando clicchi */
  transition: 0.3s;
  font-family: 'minork';
  border: 1px solid green;
  align-items: center;
}


.menu {
  margin-right: 20px; /* Distanza tra il menu e lo switch */
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  display: flex;
  align-items: center;  /* Allinea gli elementi verticalmente */
  justify-content:center; /* Puoi usare flex-start per mantenerli a sinistra o center per centrarli orizzontalmente */
  height:40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  position: relative;
}

/* Pulsante hamburger - di default nascosto su desktop */
.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/*-------------DARK MODE------------------*/
.dark-mode .menu {
  margin-right: 20px; /* Distanza tra il menu e lo switch */
  background: rgba(58, 58, 58, 0.8);
  border-radius: 20px;
  display: flex;
  align-items: center;  /* Allinea gli elementi verticalmente */
  justify-content:center; /* Puoi usare flex-start per mantenerli a sinistra o center per centrarli orizzontalmente */
  height:40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  position: relative;
}

.dark-mode .menu nav {
  display: flex; /* Usa flexbox per il layout dei link */
  gap: 10px; /* Distanza tra i link */
  position: relative;
}

.dark-mode .menu nav a {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  color: #ffcc00;
  font-weight: bold;
  justify-items: center;
  border-radius: 20px;
  align-items: center;
  align-content: center; 
  transition: 0.5s;
  position: relative;
  transition: 0.3s ease;
}

.dark-mode .menu nav a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}


/* Nasconde il checkbox */
input[type="checkbox"] {
  display: none;
}

/* Stile dello slider */
.slider-v3 {
  position: relative;
  display: block;
  width: 80px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.4s ease-in-out;
  background: rgba(255, 255, 255, 0.6);
}

/* Cerchio interno dello switch */
.slider-v3::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Stato attivo (dark mode) */
input[type="checkbox"]:checked + .slider-v3 {
  background: #333;
}

/* Sposta il cerchio a destra quando è attivo */
input[type="checkbox"]:checked + .slider-v3::before {
  transform: translateX(40px);
  background-color: #ffcc00; /* Cambia colore per effetto sole */
}

.buttonView {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttonView button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: rgba(37, 98, 126, 0.8);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'minork';
  transition: 1.2s;
  height: 44px;
  text-box: auto;
}

.buttonView button:hover {
  transform: scale(1.05);
}

.dark-mode .buttonView button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #ffcc00;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'minork';
  transition: 1.2s;
  height: 44px;

}

/*-------------SCROLLARE MARCHE-----------------*/

.scroll {
  white-space: nowrap; /* Impedisce il testo di andare a capo */
  overflow: hidden; /* Nasconde il testo fuori dal contenitore */
  width: 98%;
  justify-content: center;
  position:absolute;
  z-index: 0;
  height: auto;
  top:125px;
  left: 0.8%;
}

.scroll div {
  display: inline-block;
  animation: animate 10s linear infinite;
  margin-bottom: 10%;
  min-width: 200%;
  align-items: center;
}

.scroll div span {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  background: #ffffff;
  color: #000000;
  transition: 0.1s;
  text-align: center;
}

.scroll2 {
  white-space: nowrap; /* Impedisce il testo di andare a capo */
  overflow: hidden; /* Nasconde il testo fuori dal contenitore */
  width: 98%;
  position: absolute;
  z-index: 0;
  height: auto;
  top:168px;
  left: 0.8%;
}

.scroll2 div {
  display: inline-block;
  min-width: 200%; /* Raddoppia la larghezza per permettere la continuità */
  animation: animate 8s linear infinite;
}

.scroll2 div span {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  background: #ffffff;
  color: #000000;
  text-align: center;
  transition: 0.5s;
}



.scroll3 {
  white-space: nowrap; /* Impedisce il testo di andare a capo */
  overflow: hidden; /* Nasconde il testo fuori dal contenitore */
  width: 98%;
  justify-content: center;
  position:absolute;
  z-index: 0;
  height: auto;
  top:111px;
  left: 0.8%;
  transition: 0.5s;
}

.scroll3 div {
  display: inline-block;
  animation: animate 8s linear infinite;
  margin-top: 10%;
  min-width: 200%;
}

.scroll3 div span {
  display: inline-flex;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
  background:whitesmoke;
  transition: 0.5s;
}

.scroll div, .scroll2 div, .scroll3 div {
  
  /* Forza la GPU a gestire questo layer */
  transform: translate3d(0, 0, 0); 
  
  /* Previene il flickering su iOS */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  /* Suggerisce al browser di ottimizzare per il movimento */
  will-change: transform; 
}


/*-----------------------------------------------------------*/
/* DARK MODE*/

.dark-mode .scroll div span {
  background: #333;
  color: #fff;
}

.dark-mode .scroll2 div span {
  background: #333;
  color: #fff;
}

.dark-mode .scroll3 div span {
  background: #333;
  color: #fff;
}

/* Animazione continua senza scatti */
@keyframes animate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}







/* Wrapper principale */
.slideWrap {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 10px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 13px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  width: fit-content;
}

/* Menu classico */
.menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Pulsante hamburger - di default nascosto su desktop */
.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Stile del menu */
.menu nav {
  display: flex;
  gap: 10px;
}

.menu nav a {
  padding: 5px 10px;
  text-decoration: none;
  color: rgba(37, 98, 126, 1);;
  border-radius: 20px;
  transition: 0.3s ease;
  font-weight: bold;
}

.menu nav a:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Media Query per Mobile */
@media (max-width: 750px) {
  /* Nasconde il menu classico e mostra l'hamburger */
  .menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
  }

  .dark-mode .menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background: rgba(58, 58, 58, 0.8);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
  }
  

  /* Mostra il pulsante hamburger */
  .menu-btn {
    display: block;
    color: white;
  }

  .dark-mode .menu-btn {
    display: block;
    color: #000;
  }

  /* Mostra il menu quando è aperto */
  .menu.open {
    display: flex;
  }
}

@media (max-width: 750px) {

  .scroll {
    top:140px;
    width: 97%;
    left: 1%;
  }
  .scroll2 {
    top:183px;
    width: 97%;
    left: 1%;
  }
  .scroll3 {
    top:132px;
    width: 97%;
    left: 1%;
  }

  .scroll div{
    margin-bottom: 20%;
  }

  .dark-mode .scroll div{
    margin-bottom: 20%;
  }

  .scroll3 div{
    margin-top: 20%;
  }

  .dark-mode .scroll3 div{
    margin-top: 20%;
  }
}

@media (max-width: 450px) {

  .scroll div{
    margin-bottom: 30%;
  }

  .dark-mode .scroll div{
    margin-bottom: 30%;
  }

  .scroll3 div{
    margin-top: 30%;
  }

  .dark-mode .scroll3 div{
    margin-top: 30%;
  }
}

/* Switch Dark Mode */
.slider-v3 {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  transition: background 0.4s ease-in-out;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.slider-v3::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Stato attivo */
input[type="checkbox"]:checked + .slider-v3 {
  background: #333;
}

input[type="checkbox"]:checked + .slider-v3::before {
  transform: translateX(40px);
  background-color: #ffcc00;
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  position:fixed;
}

.swiper-slide .watch-card .cardBottoni {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-bottom: 3%; */
  gap: 4.5%;
  /* margin-top: 2%; */
  align-content: center;
}

.swiper-slide .watch-card .cardBottoni .delete-button{
  margin: 0%;
  padding: 0%;
}

.swiper-slide .watch-card .cardBottoni .modify-btn{
  margin: 0%;
  font-size: 18px;
  padding: 5px 15px;
}

.swiper-slide .watch-card .cardBottoni .modifyButton {
  margin: 0%;
  padding: 0%;
  font-size: 18px;
}

/* -------------Profilo------------------- */

.profile-log {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.profile-picture {
  position: relative; /* Relative per stare sopra l'absolute */
  z-index: 10;        /* Livello superiore */
  width: 80px;        /* Aumento leggermente per visibilità */
  height: 80px;
  /* Rimuovi margini o posizionamenti assoluti vecchi che creano conflitti */
  margin: 0;
  top: auto;
  left: auto;
  transform: none;
}
.profile-info {
  margin-bottom: 2%;
  display: flex;
  flex-direction: column; /* Impila gli elementi verticalmente */
  align-items: center;  /* Centra tutto orizzontalmente */  
}

/* @keyframes glow-border {
  0% {
    box-shadow: 0 0 20px #4ECDC4, 0 0 40px #349090;
  }
  100% {
    box-shadow: 0 0 50px #4ECDC4, 0 0 70px #349090;
  }
} */

.dark-mode .upload-button {
  color: #ffffff;
  background-color:#333;
}

.CardImage {
  width: 100%;
  max-width: 200px;
  height: auto;
  max-height: 300px; /* Limita l'altezza massima a 300px */
  border-radius: 10px;
  object-fit: cover;
  display: flex;
}

.dark-mode input::placeholder {
  color: #ffffff;
  opacity: 1; /* Per assicurarti che il colore sia visibile */
}

input::placeholder {
  color: #000000;
  opacity: 1; /* Per assicurarti che il colore sia visibile */
}

.dark-mode .buttonForm button {
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: 2s;
  font-family: 'minork';
  border-radius: 20px;
  border: 3px solid #ffcc00;
  background-color: #ffcc00;
  color: black;
  width: 100px;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  height: 44px;
  display: flex;
  align-items: center;
}

.dark-mode .buttonForm button:hover {
  background-color: transparent;
  transform: scale(1.05);
  color: #ffcc00;
  font-weight: bold;
}

.CaratteristicheCard {
  height:fit-content;
}

.AzioniCard {
  display: flex;
  justify-items: flex-start;
}

.cardBottoni {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  /* margin-bottom: 3%; */
  gap: 10%;
  margin-top: 7%;
  flex-wrap: wrap-reverse;
}

.watch-card .cardBottoni .delete-button{
  margin: 0%;
  padding: 0%;
}

.watch-card .cardBottoni .modify-btn{
  margin: 0%;
  font-size: 18px;
  padding: 5px 15px;
}

.watch-card .cardBottoni .modifyButton {
  margin: 0%;
  padding: 0%;
  display: flex;
}

.GRID{
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
}


.Saluti{
  width: 100%;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 2s steps(20);
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

.paragrafi {
  padding-bottom: 20px;
  font-family: 'minork';
  font-size: 18px;
}

@media (max-width: 750px) {
  .paragrafi p {
    font-size: 18px; /* Prova con 14px, o 12px, per vedere quale preferisci */
  }
}

.TileInfo {
  padding:5px 0 10px 0;
  font-family: 'minork';
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
  font-size: 20px;
}

  .TileInfo h4 {
    font-family: 'kugile';
    font-style: normal;
  }
    .TileInfo h3 {
    font-family: 'kugile';
    font-style: normal;
  }

.InfoButton {
  margin-bottom: 20px;
}
.InfoButton button{
  width: 100px;
  background-color: transparent;
  border:3px solid rgba(37, 98, 126, 0.8);
  color: rgba(37, 98, 126, 1);
  font-family: 'minork';
  /* backdrop-filter: blur(5px); */
}

.dark-mode .InfoButton button {
  width: 100px;
  background-color: transparent;
  border:3px solid #ffcc00;
  color: #ffcc00;
}

.modal-overlay .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.modal-overlay .swiper-wrapper {
  width: 80vw; /* Adatta alla larghezza della finestra */
  height: auto;
  padding: 20px;
  border-radius: 20px;
  max-width: 1000px;
}

.swiper-wrapper .watch-card {
  height: fit-content;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  /* max-height: 650px; */
  max-width: unset;
  justify-items: center;
}

.modal-overlay .swiper-wrapper .watch-card h3{
  font-size: 29px;
}

.modal-overlay .swiper-wrapper .watch-card p{
  font-size: 29px;
  overflow-wrap: anywhere;
}

.swiper-wrapper .watch-card .watch-imageCarosel {
  max-height: 375px;
}


.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* gap: 20px; */
  width: 100%;
  max-width: 1200px; /* Limita la larghezza massima */
  margin: 5px auto; /* Centra il contenitore */
  background-color: var(--form-bg-color); /* Usa il colore di sfondo del tuo form */
  border-radius: 20px;
  height: 500px;
}

.chart-wrapper {
  flex: 1; /* Ogni grafico cerca di occupare lo stesso spazio */
  min-width: 300px; /* Larghezza minima prima di andare a capo */
  max-width: 430px; /* Larghezza massima per un singolo grafico */
  height: 43%; /* Altezza fissa per il canvas del grafico */
  padding: 20px;
  border-radius: 20px;
  background-color: var(--bg-color); /* Sfondo interno per il grafico */
  box-shadow: inset 0px 0px 240px rgba(95, 83, 97, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 400px;
}

.dark-mode .chart-wrapper {
  box-shadow: inset 0px 0px 240px rgba(0,0,0,100);
}

.chart-wrapper h3 {
  margin-bottom: 15px;
  text-align: center;
  color: var(--text-color);
}

/* Messaggio di fallback se non ci sono dati */
.chart-wrapper p {
  margin-top: auto;
  margin-bottom: auto;
  color: var(--text-secondary-color);
}

.canvas_container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.infoView-statistiche {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom:1%; /* Mantiene l'elemento sempre in basso */
  top: 9%;
  width: 100%;
  z-index: 1001;
}

.dark-mode .infoView-statistiche .modal-content {
  background-color: rgba(95, 83, 97, 0.80);
  height: fit-content;
}

.modal-content-statistiche {
  background: rgba(255, 255, 255, .80);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
}

.infoView-statistiche .modal-content-statistiche {
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 80%;
  text-align: center;
  background-color: rgba(255, 255, 255, .80);
  backdrop-filter: blur(5px);
  height: fit-content;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}


.dark-mode .infoView-statistiche .modal-content-statistiche {
  background-color: rgba(95, 83, 97, 0.80);
  height: fit-content;
  backdrop-filter: blur(10px);
}

@media (max-width: 750px) {

  .infoView {
    bottom: 3%;
  }

  .infoview h3{
    font-size: 18px;
  }

  .infoView-statistiche {
    bottom:3%; /* Mantiene l'elemento sempre in basso */
    width: 100%;
    z-index: 1001;
  }

  /* Sovrascrive la larghezza per i telefoni */
  .infoView-statistiche .modal-content-statistiche {
    width: 90%; /* Usa il 90% della larghezza dello schermo */
    max-width: 82%; /* Sovrascrive i 1000px */
    max-height: 800px;
  }

  .infoView-statistiche .modal-content-statistiche h4 {
    font-size: 22px;
  }

  /* Se anche i grafici al suo interno sbordano, 
    dovrai aggiungere lo scroll interno.
  */
  .charts-container {
    /* flex-direction: column; */
    overflow-y: auto;
    width: 100%;
    max-width: 300px;
  }

  .chart-wrapper {
    left: 0%;
    min-width: 200px;
    max-width: 250px; /* Limita la larghezza massima */
    height: 300px; /* Riduci l'altezza su mobile */
    margin-bottom: 2%;
    padding: 0%;
  }

  .infoView-statistiche .modal-content-statistiche .chart-wrapper h4{
    font-size: 18px;
    padding: 5px;
  }

  .canvas_container {
    height: 250px; /* Riduci l'altezza del canvas su mobile */
    max-width: 100px;
  }

  .buttonView {
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  }
}


.details-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkbox-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /* Centra il testo */
  padding: 10px;
  margin: 10px auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-family: 'minork';
  cursor: pointer;
  transition: all 0.3s ease; /* Transizione per tutti gli stati */
  border: 2px solid transparent; /* Bordo trasparente per evitare scatti */
}

.checkbox-label:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.dark-mode .checkbox-label {
  background-color: rgba(58, 58, 58, 0.8);
  color: #ffffff;
}

.dark-mode .checkbox-label:hover {
  background-color: rgba(104, 104, 104, 0.9);
}

.checkbox-label .checkbox-input {
  /* La nascondiamo completamente */
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute; 
}

/* 3. STILE QUANDO SELEZIONATO (LA SOLUZIONE) */
.checkbox-label.selected {
  background-color: #186599; /* Il tuo colore blu */
  color: white;
  font-weight: bold;
}

.dark-mode .checkbox-label.selected {
  background-color: #ffcc00; /* Colore giallo per la dark mode */
  /* Aggiunge un bordo per un feedback extra */
  border: 2px solid #ffcc00;
  color: black;
}

.checkbox-label input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-right: 15px;
  transform: scale(1.4);
  accent-color: #186599;
  /* Resetta gli stili ereditati */
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.details-toggle-button {
  padding: 10px 15px;
  /* background-color: rgba(37, 98, 126, 0.8); */
  background-color: #333;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'minork';
  transition: 0.8s;
  height: 44px;
}

@media screen and (max-width: 750px) {
  .details-toggle-button {
    height: 65px;
  }
}


.notes-textarea {
  width: 80%;
  min-height: 80px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-family: 'minork';
  background-color: rgba(255, 255, 255, 0.6);
  outline: none;
  box-sizing: border-box; /* Importante */
  align-content: center;
}

.dark-mode .notes-textarea {
  background-color: rgba(58, 58, 58, 0.8);
  color: #ffffff;
}

@media screen and (max-width: 750px) {
  .notes-textarea {
    width: 80%;
    min-height: 50px;
    align-content: baseline;
  }
}

/* Stile specifico per il form di modifica */
.formModify .notes-textarea {
  width: 100%; /* Si adatta al contenitore del form di modifica */
  background-color: rgba(255, 255, 255, 0.6);; /* Sfondo per abbinarlo al form */
  border: 1px solid #ccc;
  font-size: 16px;
}

.dark-mode .formModify .notes-textarea {
  background-color: rgba(58, 58, 58, 0.8);
  color: #ffffff;
  border: 1px solid #555;
}

.InfoColorInfo {
  color: rgba(37, 98, 126, 1);
  font-style: italic;
}

.dark-mode .InfoColorInfo {
  color: #ffcc00;
}


/* Wrapper principale */
.slideWrap_Container {
  height: 40px;
  display: flex;
  position: sticky;
  top: 20px;
  z-index: 1000;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.circular-text-container {
  position: relative;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 500px;
}

@media (max-width: 650px) {
  .galleriaInfinita {
    display: none;
  }

  .circular-text-container {
    max-width: 300px;
    margin: unset;
  }
}