* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* index.css o App.css */

:root {
  /* --- PALETTE COLORI (Cambia questi valori per rivoluzionare il sito) --- */
  
  /* Modalità Chiara */
  --accent-primary: rgba(37, 98, 126, 0.8);   

  /* Modalità Scura */
  /* Sfondi */
  /* --bg-container_DARK: #0F172A;  Sfondo opaco contenitore */
  --bg-container_DARK: #0f172af0;
   --bg-container_opaco_DARK: #0f172af2;
  --bg-card_DARK: #1E293B;                      /* Sfondo card */
  
  /* Testi */
  --text-primary_DARK: #F1F5F9;                 /* Titoli e testo principale */
  --text-secondary_DARK: #A1A1AA;               /* Etichette (es. "Marca:", "Anno:") */
  --text-inverse_DARK: #1C1C1E;                 /* Testo scuro su bottoni chiari */

  /* Accenti (I tuoi "Colori Principali") */
  --accent-primary_DARK: #F59E0B;               /* Oro: Tasti azione, Stelle, Bordi focus */
  --accent-primary-hover_DARK: #C0A062;         /* Oro leggermente più scuro per l'hover */
  
  /* Stati (Danger, Success, ecc.) */
  --color-danger: #CF6679;                 /* Rosso desaturato per errori/elimina */
  --color-danger-bg_DARK: rgba(207, 102, 121, 0.15); /* Sfondo rosso leggero per hover cestino */

  --font-all-text: 'minork';  /* Font principale per tutto il testo */
}

html {
  /* Metti qui il colore esatto che passi in floatingConfig.bg */
  /* Opzionale: impedisce il rimbalzo se non vuoi scroll */
  overscroll-behavior-y: none; 
}


html.dark-mode {
  color-scheme: dark;
  background-color: #121212; /* Imposta il colore di sfondo per la modalità scura */
  color: white; /* Colore del testo per la modalità scura */
  scroll-behavior: smooth;
}

body {
  /* background-color: #5c3b3b; */
  margin: 0;
  padding: 0;
  text-align: center;
  /* background: url(https://htopqijsvgaqjrvvgpjh.supabase.co/storage/v1/object/public/fotoWatch//sfondoBody.jpg) center / cover no-repeat fixed; */
  /* background: url(https://htopqijsvgaqjrvvgpjh.supabase.co/storage/v1/object/public/fotoWatch//Sfondo.jpg) center / cover no-repeat fixed; */
  background: url(https://htopqijsvgaqjrvvgpjh.supabase.co/storage/v1/object/public/fotoWatch//SfondoBello.jpg) center / cover no-repeat fixed;
  font-size: 18px;

  /* Modalità chiara */
  /* Modalità chiara */
  color: black;
  background-color: white; /* Aggiungi un colore di sfondo chiaro per la modalità chiara */
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}

/* Modalità scura */
.dark-mode {
  background-color: var(--bg-container_DARK); /* Colore di sfondo scuro */
  color: var(--text-primary_DARK); /* Colore testo chiaro per modalità scura */
  background: url(https://htopqijsvgaqjrvvgpjh.supabase.co/storage/v1/object/public/fotoWatch//SfondoScuro.jpg) center / cover no-repeat fixed;
}

.dark-mode body {
  color: white; /* Cambia il colore del testo in bianco quando in modalità scura */
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}

.dark-mode h3 {
  color: var(--text-primary_DARK);
}

.dark-mode .watch-card {
  /* background: rgb(250, 214, 214); */
  background-color: var(--bg-card_DARK);
  padding: 15px;
  text-align: center;
}

.dark-mode .modal-content{
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  height: fit-content;
  border: 1px solid var(--bg-container_opaco_DARK);
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255, 0.45); */
  background-color: var(--bg-container_opaco_DARK);
  backdrop-filter: blur(25px);
}

.dark-mode .selectMenu > select{
  color: #ffffff;
  background-color: var(--bg-card_DARK);
  border: 0px;
  border-radius: 20px;
}

.selectMenu > select{
  color: #000000;
  border: 0px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);;
}

.dark-mode h1 {
  color: var(--text-primary_DARK);
}

.dark-mode h2 {
  color:  var(--text-primary_DARK);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  /* background-color: rgba(247, 102, 102, 0.60); */
  
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255, 0.45); */
  background-color: rgba(180, 188, 212, 0.45);
  font-size: 19px;
  
  
  /* background-color: rgba(255, 255, 255, 0.45); */
  box-shadow: 0 0 10px 1px rgba(0 0 0 0.25);
  backdrop-filter: blur(15px);
}

.dark-mode .container {
  /* background-color: rgba(58, 58, 58, 0.80); */
  background-color: var(--bg-container_DARK);
}

@font-face {
  font-family: 'Amoresa';
  src: url('../font/Andrey-Sharonov-Amoresa-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ancient';
  src: url('../font/Ancient.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 1. Light (Corretto) */
@font-face {
  font-family: 'minork';
  src: url('../font/minorksans-light.otf') format('opentype'); /* Nota: .otf è solitamente opentype */
  font-weight: 300; /* Light corrisponde a 300, NON a normal/400 */
  font-style: normal;
}

/* 2. Bold */
@font-face {
  font-family: 'minork';
  src: url('../font/minorksans-bold.otf') format('opentype'); /* Sostituisci con il nome esatto del tuo file */
  font-weight: 700; /* O "bold" */
  font-style: normal;
}

/* 3. Extra Bold */
@font-face {
  font-family: 'minork';
  src: url('../font/minorksans-extrabold.otf') format('opentype'); /* Sostituisci con il nome esatto del tuo file */
  font-weight: 800; 
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  /* Nota: i browser moderni capiscono che è variabile, ma per sicurezza usiamo il formato standard ttf */
  src: url('../font/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  /* Qui la magia: definiamo un RANGE di pesi disponibili nel file, non un numero singolo */
  font-weight: 400 900; 
  font-style: normal;
}

@font-face {
  font-family: 'kugile';
  /* Nota: i browser moderni capiscono che è variabile, ma per sicurezza usiamo il formato standard ttf */
  src: url('../font/Kugile.ttf') format('truetype');
  /* Qui la magia: definiamo un RANGE di pesi disponibili nel file, non un numero singolo */
  font-weight: 400 900; 
  font-style: normal;
}

h1{
  color: #0c0c0c;
  /* font-family: 'Amoresa', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  font-family: 'kugile';
  font-size: 2.5em;
  margin: auto;
  font-weight: bold;
}

h2{
  color: #0c0c0c;
  /* font-family: 'Amoresa', sans-serif; */
  /* font-family: 'minork'; */
  font-family: 'kugile';
  font-size: 2em;
  margin: auto;
  font-style: normal;
  font-weight: normal;
  padding: 60px;
}
.auth-form-container h2 {
  padding: 10px;
  color: white
}

h3{
  color: #0c0c0c;
  font-size: 1.7em;
  margin: auto;
  font-style: normal;
  font-weight: normal;
}

.add-button {
  background-color: #044b9cbe;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.add-button:hover {
  background-color: #0056b3;
}

.watch-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.watch-card {
  /* background: rgb(250, 214, 214); */
  background-color: rgba(225, 225, 225, 0.8);
  padding: 15px;

  border-radius: 15px;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /*width: 85%;*/
  display: grid;
  position: relative;

  max-width: 299px;
}

.watch-card.carousel-card {
  /* Rimuovi la restrizione impostando max-width a 'none' o 'unset' */
  max-width: unset;
}


.watch-image {
  width: 100%;
  max-width: 150px;
  border-radius: 10px;
}



.titleList {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Allinea gli elementi a sinistra */
  grid-template-columns: auto;
  flex-direction: column;
  font-size: 1em
}

.titleList h3 {
  padding: 20px;
  margin-top: 10px;
  font-family: 'kugile';
}

@media (max-width: 750px) {
  .titleList {
    flex-direction: column; /* Imposta la disposizione verticale su schermi più piccoli */
    align-items: center; /* Allinea al centro gli elementi */
  }
  
  .titleList > div {
    width: 100%; /* Imposta larghezza al 100% per ogni div */
    justify-content: center; /* Allinea al centro */
    flex-direction: column;
  }

  /* Riduci la dimensione del titolo su dispositivi mobili */
  .titleList h1{
    font-size: 1.8em !important; /* Puoi provare anche con 1rem o 0.9rem se vuoi più piccolo */
  }

  /* Riduci la dimensione del titolo su dispositivi mobili */
  .titleList h3{
    font-size: 1.5em !important; /* Puoi provare anche con 1rem o 0.9rem se vuoi più piccolo */
  }

  .modal-content h2 {
    font-size: 1.5em !important; /* Puoi provare anche con 1rem o 0.9rem se vuoi più piccolo */
  }

  .menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
  }

  /* Mostra il pulsante hamburger */
  .menu-btn {
    display: block;
  }

  /* Mostra il menu quando è aperto */
  .menu.open {
    display: flex;
  }

  .TileInfo h3 {
    font-size: 1.5em;
  }
  
  .modal-content-statistiche h4 {
    font-family: 'kugile';
  }
  .chart-wrapper h4 {
    font-family: 'minork';
  }

}

.textCard {
  padding: 5%;
  transition: transform 0.3s ease-in-out;
  padding-top: 2%;
  overflow-wrap: anywhere;
}

.textCard:hover {
  transform: scale(1.1);
  /* text-shadow: 2px 2px 10px rgb(70, 0, 117); */
  text-shadow: 0 0 5px #ff00ffe3, 0 0 10px #ff00ffe3, 0 0 20px #ff00ffe3;
}

h4 {
  font-size: 1.5em;
  margin: auto;
  font-weight: normal;
  font-style: italic;
}

.favoriteButton button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

/* Selettore fornito nel prompt */
.favoriteButton__button {
  background-color: transparent;
  border: none;
  /* Utilizza 'rem' o 'px' se preferisci, 'em' è relativo al font-size del genitore */
  font-size: 1.2em; 
  cursor: pointer;
  
  /* Garantisce che l'icona non salti durante l'animazione */
  transition: transform 0.6s ease-out; 
  position: absolute;
  /* Posizionamento nell'angolo in alto a destra */
  top: 10px;    /* Distanza dal bordo superiore */
  right: 10px;  /* Distanza dal bordo destro */
  padding: 3.4px;
  z-index: 100
}

/* * ----------------------------------------------------
 * L'Animazione (La parte cruciale)
 * ----------------------------------------------------
 */

/* Definizione del Keyframe: l'effetto "battito" */
@keyframes heart-beat {
  0% { transform: scale(1); }           /* Dimensione normale */
  50% { transform: scale(1.3); }        /* Si ingrandisce del 30% a metà */
  100% { transform: scale(1); }         /* Torna alla dimensione normale */
}

/* Classe applicata al bottone quando isAnimating è true */
.favoriteButton__button.is-animating {
  /* Applica l'animazione: nome, durata, timing function, numero di ripetizioni */
  animation: heart-beat 1s ease-out 2;
}

.button-text-mobile {
  /* Di default è visibile */
  display: inline;
}

/* Media Query: Nascondi la scritta quando la larghezza massima è 600px (telefono) */
@media (max-width: 600px) {
  .button-text-mobile {
    display: none;
  }
  
  /* Opzionale: Centra o adatta il padding del bottone, dato che ora contiene solo l'icona */
  .upload-button {
      padding: 10px; /* Riduci il padding se necessario */
      font-size: 1.2em;
  }

  .select-image-button {
    /* 1. Dimensioni Fisse */
    width: 118.78px;     /* Imposta una larghezza fissa in pixel (o altra unità assoluta) */
    height: 44px;     /* Imposta un'altezza fissa */
    
    /* 2. Assicurati che il contenuto si adatti o nascondi il testo se non c'è spazio */
    /* Rendi il bottone un flex container per centrare o gestire meglio il contenuto */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Aggiungi 'overflow: hidden' se c'è il rischio che il contenuto ecceda */
    overflow: hidden; 
  }
}

.decorative-symbol {
  font-size: 30px;
  color: rgb(0, 0, 0);
  /* Altri stili se necessari, ad esempio margini o display */
  display: inline-block; /* Utile per controlli di spacing */
}

.dark-mode .decorative-symbol {
  font-size: 30px;
  color: var(--text-primary_DARK);
  /* Altri stili se necessari, ad esempio margini o display */
  display: inline-block; /* Utile per controlli di spacing */
}

/* 1. Contenitore per centrare la linea */
.separator-container {
  width: 100%;
  display: flex; /* Abilita flexbox per centrare il contenuto */
  justify-content: center; /* Centra orizzontalmente l'elemento interno (la HR) */
  margin-top: 30px; /* Spazio sopra come richiesto */
}

/* 2. Stile per la linea orizzontale */
.custom-separator {
  /* Resetta lo stile predefinito del browser per HR */
  border: none;
  border-top: 2px solid #000000; /* Definisce la linea nera sottile */
  
  /* Imposta la larghezza fissa */
  width: 700px; 
  
  /* Aggiunge il margine verticale che avevi richiesto */
  margin: 20px 0; 
}

.dark-mode .custom-separator {
  border-top: 2px solid var(--text-primary_DARK); /* Definisce la linea bianca sottile per modalità scura */
}

.watchName_Button {
  display: grid;
  align-content: center;
  justify-items: stretch;
  gap: 2%;
  width: 100%;
}
